<!DOCTYPE HTML>

<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <link href= "LCS.css" rel="stylesheet" type"text/css">
</head>
<body bgcolor="#214B53" text = "#FFDF00">

    <h1 class="Welcome">Welcome to LCS</h1>
    <h4> The Strongest Tech Community You May Ever Come Across.</h4>
    <center><br><h2>With Members Who are destined to reach their success through unity and skill.</h2></center>
    
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a>
            <ul>
                <li><a href="">Our Team</a></li>
                <li><a href="">Our Mission</a></li>
                <li><a href="">Our Vision</a></li>
                <li><a href="">The Future</a></li>
            </ul>
        </li>
        <li><a href="#">Projects</a>
            <ul>
                <li><a href="">Collaborations</a></li>
                <li><a href="">Software</a></li>
                <li><a href="">Hardware</a></li>
                <li><a href="">The Future</a></li>
            </ul>
        </li>
        <li><a href="#">Founders</a>
        <ul>
            <li><a href="">About Class 28</a></li>
            <li><a href="">The Software Track</a></li>
            <li><a href="">Members of 28</a></li>
        </ul>
    </li>
        <li><a href="#">Join Now!</a>
        <ul>
             <li><a href="">Our Alumni</a></li>
             <li><a href="">Resources</a></li>
            <li><a href="">Help &amp; Support</a></li>
        </ul>
    </li>
    </ul>

    <div>
   
    <img src="Teamwork.jpg" alt="" class="team">
   <h1 class="Subtitle"> Of the Best</h1>
   <h3> Prepare to meet a community of the elite within the growing tech industry. 
     <br>Learn within the young minds of society's future! The sheer willpower to work <br> and create a better tomorrow.
    These aren't you're average individuals, they <br> harness skill and creativety to show the world that anything is possible.
    </h3></script><canvas id="canvas"></canvas><script src="Balloons.js"></script>
</div>

<h1 class="largeText"> LCS</h1>

<footer>
    
    <center> &#xa9 Mannix Quijano | 2020</center>
</footer>
</body>
<!--MQ-->
</html>